* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 24px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  box-shadow: 0 1px 25px #e5e7eb;
  padding-top: 0;
  background-color: white;
}
.container__header {
  background-color: rgb(65, 133, 95);
  width: 100%;
}
.header {
  background-image: linear-gradient(90deg, rgb(255, 0, 242), rgb(229, 255, 0));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: cursive;
  text-align: center;
  font-size: 1.4rem;
  padding-bottom: 10px;
}
small {
  font-size: 0.5rem;
}
h2 {
  background-image: linear-gradient(90deg, rgb(0, 72, 75), rgb(96, 236, 255));
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-family: cursive;
  color: transparent;
  font-size: 1rem;
  padding: 10px;
}

textarea,
#output {
  height: 20vh;
  width: 25vw;
  border: 2px solid;
  margin: 2rem;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.1rem;
}
button {
  min-width: 100px;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  color: #ffff;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  box-shadow: -4px 10px 30px -11px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -4px 10px 30px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: -4px 10px 30px -11px rgba(0, 0, 0, 1);
  cursor: pointer;
}
button:hover {
  /* border: #F2C94C 2px solid; */
  background-color: white;
  color: #f2c94c;
  border: 1px solid rgb(104, 104, 0);
  box-shadow: none;
}
.text {
  font-size: 1.2rem;
}
footer {
  background-color: rgb(65, 133, 95);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  color: black;
  font-size: 1.5rem;
}
p {
  font-size: 1rem;
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
  h2 {
    /* margin-left: 4rem; */
    text-align: center;
  }
  textarea,
  #output {
    width: 80%;
  }
  button {
    width: 50%;
  }
  p {
    text-align: center;
  }
  .footer-text {
    text-align: center;
  }
}
